<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:sport.properties"/> 

	<!-- Define your beans here -->
	<!-- Logger bean -->
	<bean id="myLoggerConfig"
		class="com.thanh.springdemo.MyLoggerConfig" init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>


	<!-- Define a bean for a dependency -->
	<!-- <bean id="myFortune" class="com.thanh.springdemo.HappyFortuneService"></bean> -->
	<!-- Set up the contructor injection -->
	<!-- <bean id="myCoach" class="com.thanh.springdemo.TrackCode"> <constructor-arg 
		ref="myFortune"></constructor-arg> </bean> -->
	<bean id="myFortuneService"
		class="com.thanh.springdemo.HappyFortuneService"></bean>
	<bean id="myCricketCoach"
		class="com.thanh.springdemo.CricketCoach">
		<property name="fortuneService" ref="myFortuneService"></property>
		<property name="emailAddress" value="${foo.email}"></property>
		<property name="team" value="${foo.team}"></property>
	</bean>

</beans>
